In [ ]:
import pandas as pd
import matplotlib.pyplot as plot
import seaborn as sns

In [ ]:
dataset = pd.read_csv("/content/covid_new.csv")
dataset

     Gender  ...                   Assurance
0    Female  ...                       Agree
1      Male  ...                       Agree
2    Female  ...  Neither agree nor disagree
3    Female  ...  Neither agree nor disagree
4      Male  ...                       Agree
..      ...  ...                         ...
643  Female  ...                       Agree
644    Male  ...  Neither agree nor disagree
645  Female  ...                       Agree
646  Female  ...                       Agree
647  Female  ...  Neither agree nor disagree

[648 rows x 14 columns]

In [ ]:
dataset.isnull().any().any()

False

In [ ]:
type(dataset)

pandas.core.frame.DataFrame

In [ ]:
dataset.describe()

       Gender  ... Assurance
count     648  ...       648
unique      2  ...         5
top      Male  ...     Agree
freq      373  ...       351

[4 rows x 14 columns]

In [ ]:
import seaborn as sns

In [ ]:
dataset.dtypes

Gender                          object
Standard                        object
Institute                       object
Subject                         object
Performance                     object
Before_covid                    object
During_covid                    object
During_online                   object
Online_with_instructions        object
Online_without_instructions     object
During_offline                  object
Offline_with_instructions       object
Offline_without_instructions    object
Assurance                       object
dtype: object

In [ ]:
dataset['During_online'].replace(to_replace=r'1', value='less than 4 hrs',inplace = True)
dataset['During_online'].replace(to_replace=r'3 hrs', value='less than 4 hrs',inplace = True)

In [ ]:
dataset['During_online'].value_counts()

4-7 hrs            406
less than 4 hrs    159
above 7 hrs         83
Name: During_online, dtype: int64

In [ ]:
for column in dataset.select_dtypes(include='object').columns:
    print(column)
    
    print(dataset[column].unique())

Gender
['Female' 'Male']
Standard
['College Level ( 1st /2nd /3rd /4th ) year' '09-Dec' '05-Aug']
Institute
['Public' 'Private' 'International']
Subject
['Technical' 'Science' 'Commerce' 'Arts' 'Medical']
Performance
['Excellent' 'Good' 'Average' 'Below Average']
Before_covid
['less than  4 hrs' '4-7 hrs' 'above 7 hrs']
During_covid
['4-7 hrs' 'less than  4 hrs' 'above 7 hrs']
During_online
['above 7 hrs' 'less than 4 hrs' '4-7 hrs']
Online_with_instructions
['4-7 hrs' 'less than 4 hrs' 'above 7 hrs']
Online_without_instructions
['4-7 hrs' 'less than 4 hrs' 'above 7 hrs']
During_offline
['less than 4 hrs' '4-7 hrs' 'above 7 hrs']
Offline_with_instructions
['less than 4 hrs' '4-7 hrs' 'above 7 hrs']
Offline_without_instructions
['4-7 hrs' 'less than 4 hrs' 'above 7 hrs']
Assurance
['Agree' 'Neither agree nor disagree' 'Strongly Agree' 'Disagree'
 'Strongly disagree']

In [ ]:
data = pd.read_csv("/content/covid_new.csv")

In [ ]:
data['During_online'].replace(to_replace=r'1', value='less than 4 hrs',inplace = True)
data['During_online'].replace(to_replace=r'3 hrs', value='less than 4 hrs',inplace = True)

In [ ]:
dict_gen = {'Male':0,                           #replacing the string with values
         'Female':1}
data['Gender'].replace(dict_gen,inplace=True)

In [ ]:
dict_std = {'05-Aug':0,                           #replacing the string with values
         '09-Dec':1,
          'College Level ( 1st /2nd /3rd /4th ) year':2}
data['Standard'].replace(dict_std,inplace=True)

In [ ]:
dataset['Standard']

0      College Level ( 1st /2nd /3rd /4th ) year
1      College Level ( 1st /2nd /3rd /4th ) year
2      College Level ( 1st /2nd /3rd /4th ) year
3      College Level ( 1st /2nd /3rd /4th ) year
4      College Level ( 1st /2nd /3rd /4th ) year
                         ...
643    College Level ( 1st /2nd /3rd /4th ) year
644    College Level ( 1st /2nd /3rd /4th ) year
645    College Level ( 1st /2nd /3rd /4th ) year
646    College Level ( 1st /2nd /3rd /4th ) year
647    College Level ( 1st /2nd /3rd /4th ) year
Name: Standard, Length: 648, dtype: object

In [ ]:
pd.crosstab(data['Before_covid'], data['Subject'])

Subject           Arts  Commerce  Medical  Science  Technical
Before_covid
4-7 hrs              2        15        1       45        135
above 7 hrs          1         3        0        6         11
less than  4 hrs    11        40        4       90        284

In [ ]:
pd.crosstab(data['Gender'], data['Before_covid'])

Before_covid  4-7 hrs  above 7 hrs  less than  4 hrs
Gender
0                 106           10               257
1                  92           11               172